[submodule "mirte_ws/src/mirte-master-simulator"]
	path = mirte_ws/src/mirte-master-simulator
	url = git@github.com:robkruger/mirte-master-simulator.git
[submodule "mirte_ws/src/mirte-ros-packages"]
	path = mirte_ws/src/mirte-ros-packages
	url = https://github.com/ArendJan/mirte-ros-packages.git
[submodule "mirte_ws/src/darknet_ros"]
	path = mirte_ws/src/darknet_ros
	url = https://github.com/leggedrobotics/darknet_ros.git
[submodule "mirte_ws/src/flexbe_behavior_engine"]
	path = mirte_ws/src/flexbe_behavior_engine
	url = https://github.com/FlexBE/flexbe_behavior_engine.git
[submodule "mirte_ws/src/ridgeback"]
	path = mirte_ws/src/ridgeback
	url = https://github.com/ArendJan/ridgeback.git
[submodule "mirte_ws/src/ros_astra_camera"]
	path = mirte_ws/src/ros_astra_camera
	url = https://github.com/ArendJan/ros_astra_camera.git
[submodule "mirte_ws/src/rplidar_ros"]
	path = mirte_ws/src/rplidar_ros
	url = https://github.com/Slamtec/rplidar_ros.git
[submodule "mirte_ws/src/flexbe_app"]
	path = mirte_ws/src/flexbe_app
	url = https://github.com/FlexBE/flexbe_app.git
