<launch>

    <node pkg="map_server" type="map_server" name="map_server" args="$(find goose_slam)/maps/map_acml.yaml"/>

    <node pkg="amcl" type="amcl" name="amcl" output="screen">
        <param name="odom_frame_id" value="odom"/>
        <param name="base_frame_id" value="base_link"/>
        <param name="global_frame_id" value="map"/>
    </node>

    <node pkg="move_base" type="move_base" name="move_base" output="screen">
        <rosparam file="$(find goose_slam)/config/costmap_common_params.yaml" command="load"/>
        <rosparam file="$(find goose_slam)/config/local_costmap_params.yaml" command="load"/>
        <rosparam file="$(find goose_slam)/config/global_costmap_params.yaml" command="load"/>
        <rosparam file="$(find goose_slam)/config/base_local_planner_params.yaml" command="load"/>

        <remap from="/cmd_vel" to="/mobile_base_controller/cmd_vel"/>
    </node>

</launch>
