<?xml version="1.0"?>
<robot name="mirte" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <material name="black">
    <color rgba="0.0 0.0 0.0 1.0"/>
  </material>
  <material name="blue">
    <color rgba="0.203125 0.23828125 0.28515625 1.0"/>
  </material>
  <material name="green">
    <color rgba="0.0 0.8 0.0 1.0"/>
  </material>
  <material name="grey">
    <color rgba="0.2 0.2 0.2 1.0"/>
  </material>
  <material name="orange">
    <color rgba="1.0 0.423529411765 0.0392156862745 1.0"/>
  </material>
  <material name="brown">
    <color rgba="0.870588235294 0.811764705882 0.764705882353 1.0"/>
  </material>
  <material name="red">
    <color rgba="0.80078125 0.12890625 0.1328125 1.0"/>
  </material>
  <material name="white">
    <color rgba="1.0 1.0 1.0 1.0"/>
  </material>
  <material name="wood">
    <color rgba="1.0 0.0 1.0 1.0"/>
  </material>


  <gazebo reference="link_chassis">
    <turnGravityOff>false</turnGravityOff>
    <material>Gazebo/Orange</material>
  </gazebo>

  <gazebo reference="link_chassis_inertia">
    <turnGravityOff>false</turnGravityOff>
    <material>Gazebo/Black</material>
  </gazebo>

  <gazebo reference="link_left_wheel">
    <mu1 value="1.0"/>
    <mu2 value="1.0"/>
    <kp value="1000000.0"/>
    <kd value= "100.0"/>
    <minDepth>0.001</minDepth>
    <maxVel>0.55</maxVel>
    <material>Gazebo/Blue</material>
  </gazebo>
  <gazebo reference="link_right_wheel">
    <mu1 value="1.0"/>
    <mu2 value="1.0"/>
    <kp value="1000000.0"/>
    <kd value= "100.0"/>
    <minDepth>0.001</minDepth>
    <maxVel>0.55</maxVel>
    <material>Gazebo/Blue</material>
  </gazebo>
  <gazebo reference="caster_wheel_back">
    <mu1>0.0</mu1>
    <mu2>0.0</mu2>
    <material>Gazebo/Red</material>
  </gazebo>
</robot>
