<launch>
  <arg name="scan_topic" default="/scan" />

  <!-- Run the map server -->
  <arg name="map_file" default="$(find mirte_navigation)/maps/map_final.yaml"/>
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />

  <!--- Run AMCL -->
  <include file="$(find mirte_navigation)/launch/amcl.launch" >
    <arg name="scan_topic"     value="$(arg scan_topic)" />
  </include>

  <!--- Run Move Base -->
  <include file="$(find mirte_navigation)/launch/move_base.launch" />

</launch>
